/result
/result-*
.direnv/
*.tmp
tests/.work/
portsh_io_fixture.txt
tests/.work-xshell/
tests/.work-native/
comp-cmd/
compile-cmd-tramp.dev.lisp
comp-cmd.selfx.cmd
portsh-cmd.cmd
_warm.cmd
osr-proto.sh
interp-sh.sh
comp-compiled.sh
*.preacc
_warmp.cmd
pk_t/
comp-cmd.selfx-rt.cmd
